#localPopUp{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.165);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1000;
}
#popUp{
    width: 350px;
    height: 150px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
#popUp p{
    width: 90%;
    margin-top: 20px;
}
#popUp div{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 90%;
    top: calc(100% - 50px);
}
#popUp div button{
    width: 40%;
    height: 30px;
    cursor: pointer;
}