#main{
    background-color: #303030;
    width: 100%;
    min-height: calc(100vh - 75px);
    display: flex;
    justify-content: center;
}

#table{
   background-color: #2a3338;
   overflow: auto;
   max-height: calc(100vh - 200px);
}
#selectSearch{
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}
#selectSearch select{
    width: 100px;
    height: 30px;
}
#selectSearch select:focus{
    outline: none;
}
#selectSearch select:hover{
    cursor: pointer;
}
#localTable{
    width: 95%;
    margin-top: 20px;
}
#selectSearch input{
    outline: none;
    padding-left: 5px;
    padding-right: 5px;
}