#table{
    border-collapse: collapse;
    white-space: nowrap;
}
#table th{
    border: 1px solid black;
    height: 40px;
    padding: 5px;
}

#table td{
    height: 40px;
    border: 1px solid black;
    padding: 5px;
}