*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}
header{
    width: 100%;
    height: 60px;
    background-color: #333;
    border-bottom: 1px solid rgb(80, 80, 80);
    display: flex;
    align-items: center;
    justify-content: center;
}
#cabecalho{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
#inputs{
    width: 68%;
    display: flex;
    justify-content: space-between;
}
#inputs input{
    padding: 4px;
    background-color: rgb(46, 46, 46);
    border: 1px solid rgb(0, 0, 0);
    color: white;
}
#inputs input:focus{
    outline: none;
}
#inputs input:not(:first-child){
    margin-left: 15px;
}
#connection button{
    width: 150px;
    height: 35px;
    border: none;
    background-color: rgb(36, 36, 36);
    color: white;
    cursor: pointer;
}
main{
    width: 100%;
    height: calc(100vh - 61px);
}
#root{
    background-color: rgb(36, 36, 36);
    overflow-x: hidden;
}
#tables{
    width: 100%;
    display: flex;
    transition: .5s;
}
#tables thead{
    border-bottom: 1px solid rgb(173, 173, 173);
}
#tables table{
    border-collapse: collapse;
}
#tables th{
    width: 200px;
    color: white;
    font-size: 16px;
    padding: 5px;
}
#tables td{
    width: 200px;
    color: rgba(255, 255, 255, 0.78);
    font-size: 15px;
    padding: 8px;
    text-align: center;
}
#tables table{
    min-width: calc(100% - 40px);
    margin: 20px 20px 0px 20px;
}
#change_table{
    display: flex;
    padding: 20px;
}
#change_table li {
    background-color: #333333;
    padding: 8px;
    color: #c1c1c1;
    border-radius: 3px 3px 0px 0px;
    margin-right: 10px;
    cursor: pointer;
}

